body {
    background: #1B263B;
}

aside {
    float: left;
    background: #0D1B2A;
    padding: 2.5%;
    height: 100vh;
    color: #415A77;
    border-right: 5px solid #0D1B20;
}

aside img {
    width: 60px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

aside .logo {
    font-weight: bold;
    color: #E0E1DD;
}

aside h3 {
    margin-top: 20px;
    font-size: 20px;
}

aside ul {list-style: none}
aside ul li {
    color: #415A77;
    display: block;
    margin-top: 10px;

}

aside a {
    text-decoration: none;
}

aside a li {
    transition: transform 0.5s ease;
}

aside a:hover li {
    color: #778DA9;
    transform: scale(1.05);
}

main .features {
    float: left;
    color: #E0E1DD;
    margin-top: 100px;
    text-align: center;
    width: 75%;
}

main .features h1 {font-size: 50px;}
main .features p {max-width: 700px; margin: 30px auto}

main .btn {
    border: none;
    color: #E0E1DD;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background-color: #778DA9;
    transition: font-size 0.5s ease;
}

main .btn:hover {
    font-size: 20px;
    color: #E0E1DD;
    background-color: #415A77;
}

main .news-el {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #E0E1DD;
    border-radius: 8px;
    background-color: #0D1B2A;
    max-width: 500px;
    box-sizing: border-box;
}

main .news {
    overflow-x: hidden; /* Hide horizontal scrollbar */
    overflow-y: scroll; /* Add vertical scrollbar */
    width: auto;
    max-height: 600px;
}

main .news-title { margin-bottom: 100px; }

main .contact-form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 100px;
}

main .form-control {
    margin-bottom: 15px;
    padding: 10px;
    border: none;
    font-size: 16px;
    background-color: #778DA9;
}

main .form-control:focus {
    outline: none;
}